node_modules
0-objectifs-pedagogiques
2-sequencage
demo
**/corrections
**/coverage
cours
**/cypress/**/1-getting-started
**/cypress/**/2-advanced-examples
**/cypress/**/example.json
**/0-idees.md
**/users.json
**/app.sqlite
**/dist
**/demo.mjs
**/demo.ts
**/.clinic
**/administration