<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/modal.css">
  <link rel="stylesheet" href="../css/meteo.css">
  <title>Actualités</title>
</head>
<body>
  <main class="container">
    <h1>Actualités</h1>
    <header></header><!--Metéo-->
    <section>
      <div class="row"></div><!--Les news-->
    </section>
  </main>
  <script type="module" src="../js/exercice2/index.js"></script>
</body>
</html>