<article class="card col-3 my-2">
  <!--hello world-->
  <aside>
    <img src="{{thumbnail.url}}" class="card-img-top" />
  </aside>
  <div class="card-body">
    <h3 class="h5 card-title">{{title}}</h3>
    <p>Auteur: {{author}}</p>
    <p><small>Date: {{pubDate}}</small></p>
    <a class="btn" href="{{link}}" target="_blank">
      <svg width="32" height="32" viewBox="0 0 24 24">
        <path fill="currentColor" d="M11 17H7q-2.075 0-3.537-1.463Q2 14.075 2 12t1.463-3.538Q4.925 7 7 7h4v2H7q-1.25 0-2.125.875T4 12q0 1.25.875 2.125T7 15h4Zm-3-4v-2h8v2Zm5 4v-2h4q1.25 0 2.125-.875T20 12q0-1.25-.875-2.125T17 9h-4V7h4q2.075 0 3.538 1.462Q22 9.925 22 12q0 2.075-1.462 3.537Q19.075 17 17 17Z"/>
      </svg>
    </a>
    <!-- The Modal -->
    <div id="desc-modal-{{id}}" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <h3 class="h5 card-title">{{title}}</h3>
        <div>
          <img src="{{thumbnail.url}}" class="card-img-top" />
        </div>
        <div class="card-text">{{description}}</div>
      </div>
    </div>
    <span id="modal-{{id}}">
      <svg width="32" height="32" viewBox="0 0 16 16">
        <path fill="currentColor" d="M3 6h2v1H3V6zm3 0h7v1H6V6zM3 8h2v1H3V8zm3 0h7v1H6V8zm-3 2h2v1H3v-1zm3 0h7v1H6v-1z"/>
        <path fill="currentColor" d="M0 1v14h16V1H0zm15 13H1V4h14v10zm0-11h-1V2h1v1z"/>
      </svg>
    </span>
  </div>
</article>